.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--white);
  position: relative;
  overflow: hidden;
  padding: 0;
}

.home .cover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('https://picsum.photos/200/300') no-repeat center center/cover;
}

.home .cover-container video {
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.home .cover-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.home .overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, .7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.home .canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.home .text-container {
  align-self: flex-end;
  margin-bottom: 50px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: var(--white);
  font-family: 'Finger Paint', cursive;
}

.home .text-container .typing,
.home .text-container .typed-cursor {
  color: var(--primaryColor);
}

@media (max-width: 1000px) {
  .home .cover-container video {
    /* display: none; */
  }

  .home .text-container {
    font-size: 22px;
  }
}