.main-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
}

.main-slider .img-slider {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--dark);
}

.main-slider .img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  clip-path: circle(0% at 0 50%);
}

.main-slider .img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.main-slider .img-slider .slide:nth-child(2) div {
  height: 100vh;
  background-image: url("../images/homepage/1.png");
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider .img-slider .slide:nth-child(3) div {
  height: 100vh;
  background-color: var(--dark);
  background-image: url("../images/homepage/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider .img-slider .slide:nth-child(1) div {
  height: 100vh;
  background-image: url("../images/homepage/3.jpg");
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation .btn {
  background: var(--white);
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.navigation .btn.active {
  background: var(--primaryColor);
}