.resume {
  background-color: var(--white);
  min-height: 100vh;
}

.resume .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.resume .title::after {
  content: "resume me";
}