/* services section styling */
.services {
  color: var(--white);
  background: var(--dark);
}

.services .title::before {
  background: var(--white);
}

.services .title::after {
  background: var(--dark);
  content: "what i provide";
}

.services .serv-content .card {
  width: calc(33% - 20px);
  /* height: 280px; */
  background: var(--dark);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: var(--primaryColor);
}


.services .serv-content .card .box {
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: var(--primaryColor);
  transition: all 0.3s ease;
  font-weight: 500;
}

.services .serv-content .card:hover .text {
  color: var(--dark);
}