/* skills section styling */
.skills {
  background: var(--white);
}

.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills .title::after {
  content: "what i know";
}

.skills-content {
  width: 100%;
  width: auto;
  min-height: 200px;
}

.skills .carousel .card {
  /*  */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}


.skills .carousel .card .box {
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--dark);
  border-radius: 20px;
  transform-style: preserve-3d;
}

.skills .carousel .card .box::before {
  content: "React";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 5em;
  font-weight: 900;
  color: var(--white);
  font-style: italic;
  opacity: 0;
  transition: 0.5s ease;
}

.skills .carousel .card .box:hover::before {
  opacity: 0.04;
}

.skills .carousel .card .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: var(--white);
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s ease;
  opacity: 0;
  z-index: 10;
}

.skills .carousel .card .box:hover .name {
  top: 40px;
  opacity: 1;
}

.skills .carousel .card .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s ease;
  background-color: var(--white);
  transform-style: preserve-3d;
  z-index: 10;
  transform: translate3d(-50%, -50%, 50px);
  opacity: 1;
}

.skills .carousel .card .box .img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  z-index: 15;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 50px) rotate(-15deg);
}

.skills .carousel .card .box:hover .img {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.skills .carousel .react .circle {
  background-color: blue !important;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--primaryColor) !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: var(--primaryColor) !important;
}


@media (max-width: 947px) {
  .skills .skills-content .column {
    width: 100%;
  }
}